

.avatar {
    border-radius: 50%;
    padding-top: 10px;
}

html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%;
    
}

.grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 6fr ;
    grid-template-areas: 
    "title title"
    "sidebar sidebar"
    "header header"
    "content content"
    "footer footer";
    grid-gap: 10px; 
    
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight: inherit;
    color: black;
}

.hover:hover {
    color: lightcoral;
}


.title {
    grid-area: title;
    margin: auto;
}


.header {
    grid-area: header;
    margin: auto;
}

.sidebar {
    grid-area: sidebar;
    margin: auto;
}


.content {
    grid-area: content;
    margin: auto;
}

.contact {
    line-height: 25px;
}




@media screen and (min-width: 736px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 230px 750px 1fr ;
        grid-template-areas: 
        ". title header ."
        ". sidebar header ."
        ". sidebar content ."
        ". footer footer .";
        
    }
}